{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facturas list</h1>

    <table>
        <thead>
            <tr>
                <th>Idfactura</th>
                <th>Facturanumero</th>
                <th>Facturafecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for factura in facturas %}
            <tr>
                <td><a href="{{ path('factura_show', { 'idfactura': factura.idfactura }) }}">{{ factura.idfactura }}</a></td>
                <td>{{ factura.facturanumero }}</td>
                <td>{% if factura.facturafecha %}{{ factura.facturafecha|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('factura_show', { 'idfactura': factura.idfactura }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('factura_edit', { 'idfactura': factura.idfactura }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('factura_new') }}">Create a new factura</a>
        </li>
    </ul>
{% endblock %}
